<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>

        <ion-title>
            <h1 class="ion-text-center text-white">{{ 'core.login.connecttomoodle' | translate }}</h1>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="openSettings()" [ariaLabel]="'core.settings.appsettings' | translate">
                <ion-icon slot="icon-only" name="fas-gear" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="list-item-limited-width">

        <!-- LOGO Y MENSAJE DE BIENVENIDA -->
        <div class="ion-text-center ion-padding core-login-site-logo" [class.hidden]="hasSites || enteredSiteUrl">
            <img src="assets/img/login_logo.png" class="login-logo" style="max-width: 180px; margin-bottom: 1rem;"
                 [alt]="'core.login.logoof' | translate: { $a: appName }">
            <h2 class="ion-text-uppercase">¡Bienvenidos a Pino Verde!</h2>
        </div>

        <!-- FORMULARIO DE CONEXIÓN -->
        @if (!fixedSites && siteForm) {
        <form [formGroup]="siteForm" (ngSubmit)="connect(siteForm.value.siteUrl, $event)" #siteFormEl>

            @if (siteSelector === 'url') {
            <ion-item lines="inset" color="light">
                <ion-input name="url" type="url" placeholder="{{ 'core.login.siteaddressplaceholder' | translate }}"
                           formControlName="siteUrl" [core-auto-focus]="showKeyboard && !showScanQR"
                           labelPlacement="stacked" [label]="'core.login.siteaddress' | translate" [clearInput]="true" />
            </ion-item>
            } @else {
            <ion-item lines="inset" color="light">
                <ion-input name="url" placeholder="{{ 'core.login.siteaddressplaceholder' | translate }}"
                           formControlName="siteUrl" [core-auto-focus]="showKeyboard && !showScanQR"
                           (ionInput)="searchSite($event, siteForm.value.siteUrl)"
                           labelPlacement="stacked" [label]="'core.login.siteaddress' | translate" [clearInput]="true" />
            </ion-item>

            <!-- Lista de sitios detectados -->
            <ion-list [class.hidden]="!hasSites && !enteredSiteUrl" class="core-login-site-list">
                <ion-item class="core-login-site-list-title">
                    <ion-label>
                        <h2 class="item-heading">{{ 'core.login.selectsite' | translate }}</h2>
                    </ion-label>
                </ion-item>

                @if (enteredSiteUrl) {
                <ion-item button (click)="connect(enteredSiteUrl.url, $event)" [detail]="true"
                          class="core-login-entered-site">
                    <ion-thumbnail slot="start" aria-hidden="true">
                        <ion-icon name="fas-pen" aria-hidden="true" />
                    </ion-thumbnail>
                    <ion-label>
                        <h2 class="ion-text-wrap">{{ 'core.login.yourenteredsite' | translate }}</h2>
                        <p>{{enteredSiteUrl.noProtocolUrl}}</p>
                    </ion-label>
                </ion-item>
                }

                <div class="core-login-site-list-found" [class.hidden]="!hasSites" [class.dimmed]="loadingSites">
                    @if (loadingSites) {
                    <ion-spinner [attr.aria-label]="'core.loading' | translate" />
                    }
                    <ng-container *ngFor="let site of sites">
                        <ng-container *ngTemplateOutlet="sitelisting; context: {site: site}" />
                    </ng-container>
                </div>
            </ion-list>

            @if (!hasSites && loadingSites) {
            <div class="core-login-site-nolist-loading">
                <ion-spinner [attr.aria-label]="'core.loading' | translate" />
            </div>
            }
            }

            <!-- Botón de conectar -->
            @if (siteSelector === 'url') {
            <ion-item>
                <ion-label>
                    <ion-button expand="block" color="success" [disabled]="!siteForm.valid" type="submit">
                        {{ 'core.login.connect' | translate }}
                    </ion-button>
                </ion-label>
            </ion-item>
            }
        </form>
        }

        <!-- QR y ayuda -->
        @if (showScanQR && !hasSites && !enteredSiteUrl) {
        <div class="ion-text-center ion-margin-top core-login-site-qrcode-separator">
            {{ 'core.login.or' | translate }}
        </div>
        <ion-button expand="block" fill="outline" color="medium" class="ion-margin core-login-site-qrcode"
                    (click)="showInstructionsAndScanQR()" aria-haspopup="dialog">
            <ion-icon slot="start" name="fas-qrcode" aria-hidden="true" />
            {{ 'core.scanqr' | translate }}
        </ion-button>
        }

        <!-- BOTÓN DE AYUDA -->
        <ion-button expand="block" class="ion-margin-top core-login-need-help ion-text-wrap" fill="clear"
                    (click)="showHelp()" aria-haspopup="dialog" color="dark">
            {{ 'core.needhelp' | translate }}
        </ion-button>

    </div>
</ion-content>

<!-- TEMPLATE DE LISTADO DE SITIOS -->
<ng-template #sitelisting let-site="site">
    <ion-item button (click)="connect(site.url, $event)" [ngClass]="site.className" [attr.aria-label]="site.name" [detail]="true">
        @if (siteFinderSettings.displayimage) {
        <ion-thumbnail slot="start">
            @if (site.imageurl) {
            <img [url]="site.imageurl" core-external-content onError="this.src='assets/icon/icon.png'" alt="" role="presentation">
            }
            @if (!site.imageurl) {
            <img src="assets/icon/icon.png" class="core-login-default-icon" alt="" role="presentation">
            }
        </ion-thumbnail>
        }
        <ion-label>
            @if (site.title) {
            <p class="item-heading ion-text-wrap">{{site.title}}</p>
            }
            @if (displaySiteUrl(site.url)) {
            <p>{{site.noProtocolUrl}}</p>
            }
            @if (site.location) {
            <p>{{site.location}}</p>
            }
        </ion-label>
    </ion-item>
</ng-template>
